

html
  head
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  title Gaijin
  body.body
    div.modal-gallery
      div.modal__close
        //- img.modal__close-image(src=require("./assets/images/"))
      div.modal__prev
      div.modal__next
      img.modal__image(src=require("./assets/images/gallery/1-big.jpg"))
    img.logo(src=require("./assets/images/logo_classic.png"))
    img.header(src=require("./assets/images/header_ru.png"))
    img.tower(src=require("./assets/images/tank_tower.png"))
    p.offer 
      |choose your 
      span.offer__yellow free 
      |bonus
    div.gifts
      div.gifts-item
        div.gifts-item-content
          p.gifts-item-content__type thACH’S 
          p.gifts-item-content__name F2A-1 Buffalo
          p.gifts-item-content__text + 3 day premium account
        img.gifts-item__image.left-image(src=require("./assets/images/-e-f2a-1-buffalo.png"))
      div.gifts-choose
        p.gifts-choose__text or
      div.gifts-item
        div.gifts-item-content
          p.gifts-item-content__type Light tank M2A4
          p.gifts-item-content__name M2A4
          p.gifts-item-content__text + 3 day premium account
        img.gifts-item__image.right-image(src=require("./assets/images/light-tank-m2a4.png"))
    div.gallery
      a.gallery-item(href="#")
      a.gallery-item(href="#")
      a.gallery-item(href="#")
      a.gallery-item(href="#")
      a.gallery-item(href="#")
      a.gallery-item(href="#")
      a.gallery-item(href="#")
    div.footer
      a.footer__link(href="#", data-image="1-big.jpg" id="gallery-item") Privacy Policy
      a.footer__link(href="#") EULA
      a.footer__link(href="#") Terms of Use
      a.footer__link(href="#") Customer Support
    img.bottom-logo(src=require("./assets/images/-e-gaijin_logo.png"))
    img.bottom-rate(src=require("./assets/images/-e-pegi.png"))
    

      

      